@import url("https://fonts.googleapis.com/css2?family=Hind:wght@400;700&display=swap");
body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: "Hind", sans-serif;
  background-color: #3e93fc;
  background-image: radial-gradient(circle 311px at 8.6% 27.9%, rgba(62, 147, 252, 0.57) 12.9%, rgba(239, 183, 192, 0.44) 91.2%);
}
/*# sourceMappingURL=style.css.map */